swagger: '2.0'
info:
  version: 1.0.0
  title: PS3838 API - Agent API Reference
  description:  |
    
    # Authentication 
    
    The API uses API Key to access the API. Always use HTTPS to access the API.

    To get API Key, the user must access to Agent Site and register key in Agent API Access at My Account menu.
    
    You need to send HTTP Request header like this:    
    
    `Authorization: Bearer <API Key>`
    
    Example:
    
    `Authorization: Bearer 2e4d7d04-2c86-11ef-a458-005056904f90=`
    
    # Data Formats 
    
    PS3838 API supports only JSON format. HTTP header Accept must be set:
    
    `Accept: application/json`
    
    POST HTTP Request must have JSON body content and Content-Type HTTP header must be set:
    
    `Content-Type: application/json`
    
    # Date Time Format
    
    All dates and times are in GMT time zone, ISO 8601 format
    
    # API Path
    
    To access the API, the user must use the correct path.
    
    The root path for the API is:
    
    api.ps3838.com/partner
    
    The remainder of the URI is comprised of the version of the endpoint (e.g. v1) and the endpoint itself.
    
    Example URI: api.ps3838.com/partner/v1/balance

  x-logo:
    url: ''
host: api.ps3838.com
schemes:
  - https
security:
  - apiKey: []
paths:
  /partner/v1/balance:
    get:
      tags:
        - Balance
      summary: Get Balance – v1
      description: Gets the account balance for the account(s) requested.
      operationId: Balance_V1_Get
      consumes: []
      produces:
        - application/json
      parameters:
        - name: level
          in: query
          description: The level for which to get the data. Value must be one of the following [PART, CORP, SMA, MA, AG, PL].
          required: false
          type: string
          enum:
            - PART
            - CORP
            - SMA
            - MA
            - AG
            - PL
        - name: direct
          in: query
          description: Whether to limit to direct downline accounts (including member accounts). Default value if not passed = false.
          required: false
          type: boolean
        - name: username
          in: query
          description: The username of the account for which to return data.
          required: false
          type: string
        - name: pageSize
          in: query
          description: Page size in case. Max is 1000.
          required: false
          type: integer
          default: 1000
        - name: fromRecord
          in: query
          description: 'Starting record (inclusive) of the result. To fetch next page set it to toRecord+1 '
          required: false
          type: integer
          default: 0  
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GetBalanceV1Response'
        '400':
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: InternalServerError
          schema:
            $ref: '#/definitions/ExtendedErrorResponse'
      deprecated: false
  /partner/v1/credit:
    get:
      tags:
        - Credit
      summary: Get Credit – v1
      description: Gets the credit information for the account(s) requested.
      operationId: Credit_V1_Get
      consumes: []
      produces:
        - application/json
      parameters:
        - name: level
          in: query
          description: Agent Level to be returned. Value must be one of the following [PART, CORP, SMA, MA, AG, PL].
          required: false
          type: string
          enum:
            - PART
            - CORP
            - SMA
            - MA
            - AG
            - PL
        - name: direct
          in: query
          description: Whether to limit to direct downline accounts (including member accounts). Default value if not passed = false.
          required: false
          type: boolean
        - name: username
          in: query
          description: The username of the account for which to return data.
          required: false
          type: string
        - name: pageSize
          in: query
          description: Page size in case. Max is 1000.
          required: false
          type: integer
          default: 1000
        - name: fromRecord
          in: query
          description: 'Starting record (inclusive) of the result. To fetch next page set it to toRecord+1 '
          required: false
          type: integer
          default: 0  
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GetCreditV1Response'
        '400':
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: InternalServerError
          schema:
            $ref: '#/definitions/ExtendedErrorResponse'
      deprecated: false 
    post:
      tags:
        - Credit
      summary: Set Credit - v1
      operationId: Credit_V1_Set
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: request
          description: Set Credit request.
          required: true
          schema:
            $ref: '#/definitions/SetCreditV1Request'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SetCreditV1Response'
        '400':
          description: BadRequest
          schema:
            $ref: '#/definitions/SetCreditV1ErrorResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: InternalServerError
          schema:
            $ref: '#/definitions/ExtendedErrorResponse'	
  /partner/v1/account-status:
    post:
      tags:
        - Account
      summary: Account Status - v1
      description: Updates the account status for the account posted.
      operationId: Update_Account_Status_V1
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: request
          required: true
          schema:
            $ref: '#/definitions/UpdateAccountStatusV1Request'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/UpdateAccountStatusV1Response'
        '400':
          description: BadRequest
          schema:
            $ref: '#/definitions/UpdateAccountStatusV1ErrorResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: InternalServerError
          schema:
            $ref: '#/definitions/ExtendedErrorResponse'	  
  /partner/v1/change-password:
    post:
      tags:
        - Account
      summary: Change Password - v1
      description: Updates the password for the account posted.
      operationId: Change_Password_V1
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: request
          required: true
          schema:
            $ref: '#/definitions/ChangePasswordV1Request'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ChangePasswordV1Response'
        '400':
          description: BadRequest
          schema:
            $ref: '#/definitions/ChangePasswordV1ErrorResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: InternalServerError
          schema:
            $ref: '#/definitions/ExtendedErrorResponse'	
  /partner/v1/downline-transfer:
    post:
      tags:
        - Downline Transfer
      summary: Downline Transfer - v1
      description: Performs a transfer to/from a direct downline account.
      operationId: Downline_Transfer_V1
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: request
          required: true
          schema:
            $ref: '#/definitions/DownlineTransferV1Request'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DownlineTransferV1Response'
        '400':
          description: BadRequest
          schema:
            $ref: '#/definitions/DownlineTransferV1ErrorResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: InternalServerError
          schema:
            $ref: '#/definitions/ExtendedErrorResponse'
  
  ##### START API TRANSFER CONDITION #####
  /partner/v1/transfer-condition:
    get:
      tags:
        - Transfer Condition
      summary: Get Transfer Condition – v1
      description: Gets the transfer condition information for the account(s) requested.
      operationId: Transfer_Condition_V1_Get
      consumes: []
      produces:
        - application/json
      parameters:
        - name: level
          in: query
          description: The level for which to get the data. Value must be one of the following [PART, CORP, SMA, MA, AG].
          required: false
          type: string
          enum:
            - PART
            - CORP
            - SMA
            - MA
            - AG
        - name: username
          in: query
          description: The username of the account for which to return data.
          required: false
          type: string
        - name: pageSize
          in: query
          description: Page size in case. Max is 1000.
          required: false
          type: integer
          default: 1000
        - name: fromRecord
          in: query
          description: 'Starting record (inclusive) of the result. To fetch next page set it to toRecord+1 '
          required: false
          type: integer
          default: 0  
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GetTransferConditionV1Response'
        '400':
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: InternalServerError
          schema:
            $ref: '#/definitions/ExtendedErrorResponse'
      deprecated: false
    post:
      tags:
        - Transfer Condition
      summary: Update Transfer Condition - v1
      operationId: Transfer_Condition_V1_Upadte
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: request
          description: Set Credit request.
          required: true
          schema:
            $ref: '#/definitions/UpdateTransferConditionV1Request'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SuccessAcctionV1Response'
        '400':
          description: BadRequest
          schema:
            $ref: '#/definitions/UpdateTransferConditionV1ErrorResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: InternalServerError
          schema:
            $ref: '#/definitions/ExtendedErrorResponse'
  ##### END API TRANSFER CONDITION #####
  
securityDefinitions:
  apiKey:
    type: Bearer  
definitions:
  ErrorResponse:
    type: object
    properties:
      code:
        type: string
        description: Identifier representing the type of error that occurred.
      message:
        type: string
        description: Description of the error.
    description: Contains details of an error that was encountered.
  ExtendedErrorResponse:
    type: object
    properties:
      ref:
        type: string
      code:
        type: string
      message:
        type: string
  GetBalanceV1Response:
    type: object
    properties:
      moreAvailable:
        type: boolean 
        description: Indicates whether more pages are available.
        example: true
      pageSize:
        type: integer 
        description: The requested page size. Default is 1000.
        example: 1000
      fromRecord:
        type: integer 
        description: Starting record number of the result set. Records start at zero
        example: 0
      toRecord:
        type: integer 
        description: Ending record number of the result set. 
        example: 999
      reportDateTime:
        type: string
        format: date-time
        example: '2023-06-13T15:24:48Z'
        description: Report date time.
      agent:
        type: array
        description: A collection of agents.
        items:
          $ref: '#/definitions/BalanceAgentResult'
  BalanceAgentResult:
    type: object
    properties:
      username:
        type: string 
        description: Username.
        example: 'ABC123'
      nickname:
        type: string 
        description: Nickname.
        example: null
      level:
        type: string 
        description: Username level.
        enum:
          - PART
          - CORP
          - SMA
          - MA
          - AG
          - PL
        example: 'SMA'
      currency:
        type: string 
        description: Currency.
        example: 'USD'
      totalBalance:
        type: number
        format: double
        example: -16480.15
        description: Total Balance.
      yesterdayBalance:
        type: number
        format: double
        example: -14580.15
        description: Yesterday Balance.
      totalCash:
        type: number
        format: double
        example: 1000
        description: Total Cash.
      yesterdayCash:
        type: number
        format: double
        example: 2048.65
        description: Yesterday Cash.
  GetCreditV1Response:
    type: object
    properties:
      moreAvailable:
        type: boolean 
        description: Indicates whether more pages are available.
        example: true
      pageSize:
        type: integer 
        description: The requested page size. Default is 1000.
        example: 1000
      fromRecord:
        type: integer 
        description: Starting record number of the result set. Records start at zero
        example: 0
      toRecord:
        type: integer 
        description: Ending record number of the result set. 
        example: 999
      reportDateTime:
        type: string
        format: date-time
        example: '2023-06-13T15:24:48Z'
        description: Date and time of the response.
      agent:
        type: array
        description: Contains a list of Agents.
        items:
          $ref: '#/definitions/Agent'
  Agent:
    type: object
    properties:
      username:
        type: string 
        description: Account username.
        example: 'ABC123'
      nickname:
        type: string 
        description: Nickname.
        example: null
      level:
        type: string 
        description: Agent Level.
        enum:
          - PART
          - CORP
          - SMA
          - MA
          - AG
          - PL
        example: 'SMA'
      status:
        type: string 
        description: Account Status.
        enum:
          - ACTIVE
          - INACTIVE
          - SUSPENDED
          - CLOSED
          - COSUSP
          - COINACT
          - FAILED_LOGINS
        example: 'ACTIVE'
      currency:
        type: string 
        description: Account Currency.
        example: 'USD'
      creditGiven:
        type: number
        format: double
        example: 7819.49
        description: Amount of Credit Given.
      creditUsed:
        type: number
        format: double
        example: 1000.00
        description: Amount of Credit Used.
      availableCredit:
        type: number
        format: double
        example: 6819.49
        description: Amount of Available Credit. Not present in object for member (PL) level accounts.
      totalBalance:
        type: number
        format: double
        example: 6819.49
        description: Total Balance of the Account.
      outstanding:
        type: number
        format: double
        example: 100.00
        description: Amount of Outstanding Bets.
      downlineMaxCredit:
        type: number
        format: double
        example: 1563.89
        description: Maximum Credit Amount for downline accounts. Not present in object for member (PL) level accounts.
      memberMaxCredit:
        type: number
        format: double
        example: 1563.89
        description: Maximum Credit Amount for member accounts. Not present in object for member (PL) level accounts.
      availableBetCredit:
        type: number
        format: double
        description: Amount of Bet Credit. Only present in object for member (PL) level accounts.
  SetCreditV1Request:
    type: object
    properties:
      credit:
        $ref: '#/definitions/SetCreditObject'
    description: ''
  SetCreditObject:
    type: object
    properties:
      usercode:
        type: string
        example: QSA
        description: Usercode of account to be updated.
      currency:
        type: string
        example: USD
        description: Currency of the update. Destination Currency (currency of account being updated). 
      creditGiven:
        type: number
        format: double
        example: 1000
        description: Amount of Credit Given.
      downlineMaxCredit:
        type: number
        format: double
        example: 200
        description: Maximum Credit Amount for downline accounts.
      memberMaxCredit:
        type: number
        format: double
        example: 200
        description: Maximum Credit Amount for member accounts.
    description: ''
  SetCreditV1Response:
    type: object
    properties:
      status:
        type: string
        example: SUCCESS
        description: Status of the response.
        enum:
          - SUCCESS
    description: ''
  SetCreditV1ErrorResponse:
    type: object
    properties:
      status:
        type: string
        example: REJECTED
        description: If the record fails validation, the status must be reported as REJECTED, the errorCode as INVALID_REQUEST_DATA will be in the response. 
        enum:
          - REJECTED
      rejectCode:
        type: string
        description: |
          
          SYSTEM_SECURITY_BLOCK_BALANCE = Please contact your upline,  
          CREDIT_EXCEEDS_USED = Credit Given exceeds current credit used,  
          CREDIT_EXCEEDS_PARENT_DOWNLINE = Credit Given exceeds Downline Max Credit of parent agent,  
          CREDIT_EXCEEDS_DOWNLINE = Credit Given exceeds new Downline Max Credit (or old if no new value specified). Not applicable for Member updates,  
          CREDIT_EXCEEDS_MEMBER = Credit Given exceeds upline's Member Max Credit. Only applicable for Member updates,  
          DOWNLINE_EXCEEDS_CREDIT = Downline Max Credit exceeds new credit given (or old if no new value specified),  
          DOWNLINE_EXCEEDS_USED = Downline Max Credit reduction exceeds current credit used,  
          MEMBER_EXCEEDS_CREDIT = Member Max Credit exceeds new credit given (or old if no new value specified),  
          MEMBER_EXCEEDS_DOWNLINE = Member Max Credit exceeds new downline max credit (or old if no new value specified),  
          MEMBER_EXCEEDS_USED = Member Max Credit exceeds current credit used,  
          INVALID_CURRENCY = Currency must be either currency of logged in account or the destination account,  
          USER_NOT_FOUND = Account to be updated is Closed. This cannot  happen on the Partner Services Back Office as the option is not available,  
          MEMBER_EXCEEDS_GIVEN = Member Max Credit exceeds given credit,  
          PERMISSION_DENIED = User does not have permission to perform this action,  
        enum:
          - SYSTEM_SECURITY_BLOCK_BALANCE
          - CREDIT_EXCEEDS_USED
          - CREDIT_EXCEEDS_PARENT_DOWNLINE
          - CREDIT_EXCEEDS_DOWNLINE
          - CREDIT_EXCEEDS_MEMBER
          - DOWNLINE_EXCEEDS_CREDIT
          - DOWNLINE_EXCEEDS_USED
          - MEMBER_EXCEEDS_CREDIT
          - MEMBER_EXCEEDS_DOWNLINE
          - MEMBER_EXCEEDS_USED
          - INVALID_CURRENCY
          - USER_NOT_FOUND
          - MEMBER_EXCEEDS_GIVEN
          - PERMISSION_DENIED
      errorCode:
        type: string
        description: Error code.
        enum:
          - INVALID_REQUEST_DATA
    description: ''
  ChangePasswordV1Request:
    type: object
    properties:
      usercode:
        type: string
        example: QSA
        description: Usercode of account to be updated.
      password:
        type: string
        example: 1234qwer@
        description: New Password.
      confirmPassword:
        type: string
        example: 1234qwer@
        description: Confirm New Password.
    description: ''
  ChangePasswordV1Response:
    type: object
    properties:
      status:
        type: string
        example: SUCCESS
        description: Status of the response.
        enum:
          - SUCCESS
    description: ''
  ChangePasswordV1ErrorResponse:
    type: object
    properties:
      status:
        type: string
        example: REJECTED
        description: If the record fails validation, the status must be reported as REJECTED, the errorCode as INVALID_REQUEST_DATA will be in the response. 
        enum:
          - REJECTED
      rejectCode:
        type: string
        description: |
          
          ACCOUNT_NOT_DOWNLINE = Account to be updated is not in your downline,  
          ACCOUNT_NOT_DIRECT = Account to be updated is not a direct downline,  
          ACCOUNT_CLOSED = Account to be updated is CLOSED,  
          PASSWORD_MISMATCH = Password and Confirm Password do not match,  
          PASSWORD_CRITERIA_FAIL = Password fails to meet the required criteria,  
          PASSWORD_SAME_AS_OLD = New Password cannot be the same as the Old Password,  
          PERMISSION_DENIED = User does not have permission to perform this action,  
        enum:
          - ACCOUNT_NOT_DOWNLINE
          - ACCOUNT_NOT_DIRECT
          - ACCOUNT_CLOSED
          - PASSWORD_MISMATCH
          - PASSWORD_CRITERIA_FAIL
          - PASSWORD_SAME_AS_OLD
          - PERMISSION_DENIED
      errorCode:
        type: string
        description: Error code.
        enum:
          - INVALID_REQUEST_DATA
    description: ''
  UpdateAccountStatusV1Request:
    type: object
    properties:
      usercode:
        type: string
        example: QSA
        description: Usercode of account to be updated.
      status:
        type: string 
        description: Account Status.
        enum:
          - ACTIVE
          - INACTIVE
          - SUSPENDED
          - CLOSED
        example: 'INACTIVE'
    description: ''
  UpdateAccountStatusV1Response:
    type: object
    properties:
      status:
        type: string
        example: SUCCESS
        description: Status of the response.
        enum:
          - SUCCESS
    description: ''
  UpdateAccountStatusV1ErrorResponse:
    type: object
    properties:
      status:
        type: string
        example: REJECTED
        description: If the record fails validation, the status must be reported as REJECTED, the errorCode as INVALID_REQUEST_DATA will be in the response. 
        enum:
          - REJECTED
      rejectCode:
        type: string
        description: |
          
          ACCOUNT_NOT_DOWNLINE = Account to be updated is not in your downline,  
          ACCOUNT_NOT_DIRECT = Account to be updated is not a direct downline,  
          ACCOUNT_CLOSED = Account to be updated is CLOSED,  
          PARENT_ACCOUNT_NOT_ACTIVE = Parent account of account to be updated is not ACTIVE,  
          INVALID_STATUS = Invalid account status,  
          INVALID_STATUS_UPDATE = Account status cannot be changed. Please contact your upline,  
          PERMISSION_DENIED = User does not have permission to perform this action,  
          OUTSTANDING_BETS = Account cannot be closed because at least one player has outstanding bets,  
        enum:
          - ACCOUNT_NOT_DOWNLINE
          - ACCOUNT_NOT_DIRECT
          - ACCOUNT_CLOSED
          - PARENT_ACCOUNT_NOT_ACTIVE
          - INVALID_STATUS
          - INVALID_STATUS_UPDATE
          - PERMISSION_DENIED
          - OUTSTANDING_BETS
      errorCode:
        type: string
        description: Error code.
        enum:
          - INVALID_REQUEST_DATA
    description: ''
  DownlineTransferV1Request:
    type: object
    properties:
      usercode:
        type: string
        example: QSA
        description: Usercode of account to be updated.
      transferAmount:
        type: number
        format: double
        example: 12456.78
        description: Amount to be transferred. May include decimal places.
      comment:
        type: string
        description: Optional.
        example: ''
    description: ''
  DownlineTransferV1Response:
    type: object
    properties:
      status:
        type: string
        example: SUCCESS
        description: Status of the response.
        enum:
          - SUCCESS
      transferAccount:
        $ref: '#/definitions/TransferAccountObject'
    description: ''
  TransferAccountObject:
    type: object
    properties:
      usercode:
        type: string
        description: Account Username.
        example: 'MGZ10'
      nickname:
        type: string 
        description: Nickname.
        example: null
      currency:
        type: string
        description: Account Currency.
        example: 'USD'
      yesterdayBalance:
        type: number
        format: double
        example: 56789.55
        description: New value of Yesterday's Balance.
      totalBalance:
        type: number
        format: double
        example: 56789.55
        description: New value of Total Balance.
      yesterdayCash:
        type: number
        format: double
        example: 67890.55
        description: New value of Yesterday's Cash Balance.
      totalCash:
        type: number
        format: double
        example: 67890.55
        description: New value of Total Cash Balance.
      creditUsed:
        type: number
        format: double
        example: 900000.00
        description: New value of Credit Used.
    description: Updated account information for the account updated.
  DownlineTransferV1ErrorResponse:
    type: object
    properties:
      status:
        type: string
        example: REJECTED
        description: If the record fails validation, the status must be reported as REJECTED, the errorCode as INVALID_REQUEST_DATA will be in the response. 
        enum:
          - REJECTED
      rejectCode:
        type: string
        description: |
          
          ACCOUNT_NOT_DIRECT = Account to be updated is not a direct downline,  
          INVALID_AMOUNT = Transfer amount must be numeric,  
          TRANSFER_AMOUNT_ZERO = Transfer amount cannot be 0,  
          SYSTEM_SECURITY_BLOCK_TRANSFER = Please contact your upline,  
          INVALID_ACCOUNT_BALANCE = Cannot transfer if account balance is zero,  
          CANNOT_TRANSFER_TODAY = You are not authorised to transfer today,  
          INVALID_TRANSFER_AMOUNT = Invalid transfer amount,  
          INVALID_PARTIAL_TRANSFER = Partial transfer is not valid for this account,  
          PERMISSION_DENIED = User does not have permission to perform this action,  
          INVALID_ACCOUNT = Username is not valid,  
          COMMENT_CHAR_EXCEEDED = Comment character length is restricted to 200 characters,  
          COMMENT_SPECIAL_CHARS = Comment cannot contain any special characters,  
        enum:
          - ACCOUNT_NOT_DIRECT
          - INVALID_AMOUNT
          - TRANSFER_AMOUNT_ZERO
          - SYSTEM_SECURITY_BLOCK_TRANSFER
          - INVALID_ACCOUNT_BALANCE
          - CANNOT_TRANSFER_TODAY
          - INVALID_TRANSFER_AMOUNT
          - INVALID_PARTIAL_TRANSFER
          - PERMISSION_DENIED
          - INVALID_ACCOUNT
          - COMMENT_CHAR_EXCEEDED
          - COMMENT_SPECIAL_CHARS
      errorCode:
        type: string
        description: Error code.
        enum:
          - INVALID_REQUEST_DATA
    description: ''
  SuccessAcctionV1Response:
    type: object
    properties:
      status:
        type: string
        example: SUCCESS
        description: Status of the response.
        enum:
          - SUCCESS
    description: ''
  
  ##### START DEFINITION TRANSFER CONDITION #####
  GetTransferConditionV1Response:
    type: object
    properties:
      moreAvailable:
        type: boolean 
        description: Indicates whether more pages are available.
        example: true
      pageSize:
        type: integer 
        description: The requested page size. Default is 1000.
        example: 1000
      fromRecord:
        type: integer 
        description: Starting record number of the result set. Records start at zero
        example: 0
      toRecord:
        type: integer 
        description: Ending record number of the result set. 
        example: 999
      reportDateTime:
        type: string
        format: date-time
        example: '2023-06-13T15:24:48Z'
        description: Date and time of the response.
      agent:
        type: array
        description: Contains a list of Agents.
        items:
          $ref: '#/definitions/AgentTransferCondition'
  AgentTransferCondition:
    type: object
    properties:
      username:
        type: string 
        description: Account username.
        example: 'ABC123'
      nickname:
        type: string 
        description: Nickname.
        example: null
      level:
        type: string 
        description: Agent Level.
        enum:
          - PART
          - CORP
          - SMA
          - MA
          - AG
        example: 'SMA'
      status:
        type: string 
        description: Account Status.
        enum:
          - ACTIVE
          - INACTIVE
          - SUSPENDED
          - CLOSED
          - COSUSP
          - COINACT
          - FAILED_LOGINS
        example: 'ACTIVE'
      transferType:
        type: string 
        description: Transfer Condition.
        enum:
          - DAILY
          - WEEKLY
        example: 'WEEKLY'
      automatedSettlement:
        type: boolean 
        description: Whether Automated Settlement is enabled.
        example: false
      transferDays:
        type: array 
        description: Days on which transfers take place. Only returned if transferType is WEEKLY.
        enum:
          - MON
          - TUE
          - WED
          - THU
          - FRI
          - SAT
          - SUN
        example: ['MON','TUE','WED']
  UpdateTransferConditionV1Request:
    type: object
    properties:
      transferCondition:
        $ref: '#/definitions/TransferConditionUpdateObject'
    description: ''
  TransferConditionUpdateObject:
    type: object
    properties:
      usercode:
        type: string
        example: S4R50
        description: Usercode of account to be updated.
      transferType:
        type: string
        description: Transfer Condition.
        enum:
          - DAILY
          - WEEKLY
        example: 'WEEKLY'
      transferDays:
        type: array 
        description: Days on which transfers take place. Will be ignored if transferType is DAILY.
        enum:
          - MON
          - TUE
          - WED
          - THU
          - FRI
          - SAT
          - SUN
        example: ['MON','TUE','WED']
    description: ''
  UpdateTransferConditionV1ErrorResponse:
    type: object
    properties:
      status:
        type: string
        example: REJECTED
        description: If the record fails validation, the status must be reported as REJECTED, the errorCode as INVALID_REQUEST_DATA will be in the response. 
        enum:
          - REJECTED
      rejectCode:
        type: string
        description: |
          
          USER_NOT_FOUND = Account to be updated is a player level account and is or in the same downline as the authenticated user,  
          ACCOUNT_NOT_DIRECT = Account to be updated is not a direct downline,  
          ACCOUNT_CLOSED = Account to be updated is CLOSED,  
          PERMISSION_DENIED = User does not have permission to perform this action,  
          DAYS_NOT_SPECIFIED = transferType is WEEKLY and transferDays is NULL,  
        enum:
          - USER_NOT_FOUND
          - ACCOUNT_NOT_DIRECT
          - ACCOUNT_CLOSED
          - PERMISSION_DENIED
          - DAYS_NOT_SPECIFIED
      errorCode:
        type: string
        description: Error code.
        enum:
          - INVALID_REQUEST_DATA
    description: ''
  ##### END DEFINITION TRANSFER CONDITION #####
