swagger: '2.0'
info:
  version: 1.0.0
  title: PS3838 API - Agent API Reference
  description:  |
    
    # Authentication 
    
    The API uses HTTP Basic access authentication. Always use HTTPS to access the API.
    
    You need to send HTTP Request header like this:    
    
    `Authorization: Basic <Base64 value of UTF-8 encoded "username:password">`
    
    Example:
    
    `Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=`
    
    # Data Formats 
    
    PS3838 API supports only JSON format. HTTP header Accept must be set:
    
    `Accept: application/json`
    
    POST HTTP Request must have JSON body content and Content-Type HTTP header must be set:
    
    `Content-Type: application/json`
    
    # Date Time Format
    
    All dates and times are in GMT time zone, ISO 8601 format
    
    # API Path
    
    To access the API, the user must use the correct path.
    
    The root path for the API is:
    
    api.ps3838.com/partner
    
    The remainder of the URI is comprised of the version of the endpoint (e.g. v1) and the endpoint itself.
    
    Example URI: api.ps3838.com/partner/v1/balance

  x-logo:
    url: ''
host: api.ps3838.com
schemes:
  - https
security:
  - basicAuth: []
paths:
  /partner/v1/balance:
    get:
      tags:
        - Balance
      summary: Get Balance – v1
      description: Gets the account balance for the account(s) requested.
      operationId: Balance_V1_Get
      consumes: []
      produces:
        - application/json
      parameters:
        - name: level
          in: query
          description: The level for which to get the data. Value must be one of the following [PART, CORP, SMA, MA, AG, PL].
          required: false
          type: string
          enum:
            - PART
            - CORP
            - SMA
            - MA
            - AG
            - PL
        - name: direct
          in: query
          description: Whether to limit to direct downline accounts (including member accounts). Default value if not passed = false.
          required: false
          type: boolean
        - name: username
          in: query
          description: The username of the account for which to return data.
          required: false
          type: string
        - name: pageSize
          in: query
          description: Page size in case. Max is 1000.
          required: false
          type: integer
          default: 1000
        - name: fromRecord
          in: query
          description: 'Starting record (inclusive) of the result. To fetch next page set it to toRecord+1 '
          required: false
          type: integer
          default: 0  
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GetBalanceV1Response'
        '400':
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: InternalServerError
          schema:
            $ref: '#/definitions/ExtendedErrorResponse'
      deprecated: false
  /partner/v1/credit:
    get:
      tags:
        - Credit
      summary: Get Credit – v1
      description: Gets the credit information for the account(s) requested.
      operationId: Credit_V1_Get
      consumes: []
      produces:
        - application/json
      parameters:
        - name: level
          in: query
          description: Agent Level to be returned. Value must be one of the following [PART, CORP, SMA, MA, AG, PL].
          required: false
          type: string
          enum:
            - PART
            - CORP
            - SMA
            - MA
            - AG
            - PL
        - name: direct
          in: query
          description: Whether to limit to direct downline accounts (including member accounts). Default value if not passed = false.
          required: false
          type: boolean
        - name: username
          in: query
          description: The username of the account for which to return data.
          required: false
          type: string
        - name: pageSize
          in: query
          description: Page size in case. Max is 1000.
          required: false
          type: integer
          default: 1000
        - name: fromRecord
          in: query
          description: 'Starting record (inclusive) of the result. To fetch next page set it to toRecord+1 '
          required: false
          type: integer
          default: 0  
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GetCreditV1Response'
        '400':
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: InternalServerError
          schema:
            $ref: '#/definitions/ExtendedErrorResponse'
      deprecated: false 
    post:
      tags:
        - Credit
      summary: Set Credit - v1
      operationId: Credit_V1_Set
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: request
          description: Set Credit request.
          required: true
          schema:
            $ref: '#/definitions/SetCreditV1Request'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SetCreditV1Response'
        '400':
          description: BadRequest
          schema:
            $ref: '#/definitions/SetCreditV1ErrorResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: InternalServerError
          schema:
            $ref: '#/definitions/ExtendedErrorResponse'	
  /partner/v1/change-password:
    post:
      tags:
        - Account
      summary: Change Password - v1
      operationId: Change_Password_V1
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: request
          description: Change Password request.
          required: true
          schema:
            $ref: '#/definitions/ChangePasswordV1Request'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ChangePasswordV1Response'
        '400':
          description: BadRequest
          schema:
            $ref: '#/definitions/ChangePasswordV1ErrorResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: InternalServerError
          schema:
            $ref: '#/definitions/ExtendedErrorResponse'	
definitions:
  ErrorResponse:
    type: object
    properties:
      code:
        type: string
        description: Identifier representing the type of error that occurred.
      message:
        type: string
        description: Description of the error.
    description: Contains details of an error that was encountered.
  ExtendedErrorResponse:
    type: object
    properties:
      ref:
        type: string
      code:
        type: string
      message:
        type: string
  GetBalanceV1Response:
    type: object
    properties:
      moreAvailable:
        type: boolean 
        description: Indicates whether more pages are available.
        example: true
      pageSize:
        type: integer 
        description: The requested page size. Default is 1000.
        example: 1000
      fromRecord:
        type: integer 
        description: Starting record number of the result set. Records start at zero
        example: 0
      toRecord:
        type: integer 
        description: Ending record number of the result set. 
        example: 999
      reportDateTime:
        type: string
        format: date-time
        example: '2023-06-13T15:24:48Z'
        description: Report date time.
      agent:
        type: array
        description: A collection of agents.
        items:
          $ref: '#/definitions/BalanceAgentResult'
  BalanceAgentResult:
    type: object
    properties:
      username:
        type: string 
        description: Username.
        example: 'ABC123'
      level:
        type: string 
        description: Username level.
        enum:
          - PART
          - CORP
          - SMA
          - MA
          - AG
          - PL
        example: 'SMA'
      currency:
        type: string 
        description: Currency.
        example: 'USD'
      totalBalance:
        type: number
        format: double
        example: -16480.15
        description: Total Balance.
      yesterdayBalance:
        type: number
        format: double
        example: -14580.15
        description: Yesterday Balance.
      totalCash:
        type: number
        format: double
        example: 1000
        description: Total Cash.
      yesterdayCash:
        type: number
        format: double
        example: 2048.65
        description: Yesterday Cash.
  GetCreditV1Response:
    type: object
    properties:
      moreAvailable:
        type: boolean 
        description: Indicates whether more pages are available.
        example: true
      pageSize:
        type: integer 
        description: The requested page size. Default is 1000.
        example: 1000
      fromRecord:
        type: integer 
        description: Starting record number of the result set. Records start at zero
        example: 0
      toRecord:
        type: integer 
        description: Ending record number of the result set. 
        example: 999
      reportDateTime:
        type: string
        format: date-time
        example: '2023-06-13T15:24:48Z'
        description: Date and time of the response.
      agent:
        type: array
        description: Contains a list of Agents.
        items:
          $ref: '#/definitions/Agent'
  Agent:
    type: object
    properties:
      username:
        type: string 
        description: Account username.
        example: 'ABC123'
      level:
        type: string 
        description: Agent Level.
        enum:
          - PART
          - CORP
          - SMA
          - MA
          - AG
          - PL
        example: 'SMA'
      status:
        type: string 
        description: Account Status.
        enum:
          - ACTIVE
          - INACTIVE
          - SUSPENDED
          - CLOSED
          - COSUSP
          - COINACT
          - FAILED_LOGINS
        example: 'ACTIVE'
      currency:
        type: string 
        description: Account Currency.
        example: 'USD'
      creditGiven:
        type: number
        format: double
        example: 7819.49
        description: Amount of Credit Given.
      creditUsed:
        type: number
        format: double
        example: 1000.00
        description: Amount of Credit Used.
      availableCredit:
        type: number
        format: double
        example: 6819.49
        description: Amount of Available Credit.
      totalBalance:
        type: number
        format: double
        example: 6819.49
        description: Total Balance of the Account.
      outstanding:
        type: number
        format: double
        example: 100.00
        description: Amount of Outstanding Bets.
      downlineMaxCredit:
        type: number
        format: double
        example: 1563.89
        description: Maximum Credit Amount for downline accounts.
      memberMaxCredit:
        type: number
        format: double
        example: 1563.89
        description: Maximum Credit Amount for member accounts.
  SetCreditV1Request:
    type: object
    properties:
      credit:
        $ref: '#/definitions/SetCreditObject'
    description: ''
  SetCreditObject:
    type: object
    properties:
      usercode:
        type: string
        example: QSA
        description: Usercode of account to be updated.
      currency:
        type: string
        example: USD
        description: Currency of the update. Destination Currency (currency of account being updated). 
      creditGiven:
        type: number
        format: double
        example: 1000
        description: Amount of Credit Given.
      downlineMaxCredit:
        type: number
        format: double
        example: 200
        description: Maximum Credit Amount for downline accounts.
      memberMaxCredit:
        type: number
        format: double
        example: 200
        description: Maximum Credit Amount for member accounts.
    description: ''
  SetCreditV1Response:
    type: object
    properties:
      status:
        type: string
        example: SUCCESS
        description: Status of the response.
        enum:
          - SUCCESS
    description: ''
  SetCreditV1ErrorResponse:
    type: object
    properties:
      status:
        type: string
        example: REJECTED
        description: If the record fails validation, the status must be reported as REJECTED, the errorCode as INVALID_REQUEST_DATA will be in the response. 
        enum:
          - REJECTED
      rejectCode:
        type: string
        description: |
          
          SYSTEM_SECURITY_BLOCK_BALANCE = Please contact your upline,  
          CREDIT_EXCEEDS_USED = Credit Given exceeds current credit used,  
          CREDIT_EXCEEDS_PARENT_DOWNLINE = Credit Given exceeds Downline Max Credit of parent agent,  
          CREDIT_EXCEEDS_DOWNLINE = Credit Given exceeds new Downline Max Credit (or old if no new value specified). Not applicable for Member updates,  
          CREDIT_EXCEEDS_MEMBER = Credit Given exceeds upline's Member Max Credit. Only applicable for Member updates,  
          DOWNLINE_EXCEEDS_CREDIT = Downline Max Credit exceeds new credit given (or old if no new value specified),  
          DOWNLINE_EXCEEDS_USED = Downline Max Credit reduction exceeds current credit used,  
          MEMBER_EXCEEDS_CREDIT = Member Max Credit exceeds new credit given (or old if no new value specified),  
          MEMBER_EXCEEDS_DOWNLINE = Member Max Credit exceeds new downline max credit (or old if no new value specified),  
          MEMBER_EXCEEDS_USED = Member Max Credit exceeds current credit used,  
          INVALID_CURRENCY = Currency must be either currency of logged in account or the destination account,  
          USER_NOT_FOUND = Account to be updated is Closed. This cannot  happen on the Partner Services Back Office as the option is not available,  
          MEMBER_EXCEEDS_GIVEN = Member Max Credit exceeds given credit,  
        enum:
          - SYSTEM_SECURITY_BLOCK_BALANCE
          - CREDIT_EXCEEDS_USED
          - CREDIT_EXCEEDS_PARENT_DOWNLINE
          - CREDIT_EXCEEDS_DOWNLINE
          - CREDIT_EXCEEDS_MEMBER
          - DOWNLINE_EXCEEDS_CREDIT
          - DOWNLINE_EXCEEDS_USED
          - MEMBER_EXCEEDS_CREDIT
          - MEMBER_EXCEEDS_DOWNLINE
          - MEMBER_EXCEEDS_USED
          - INVALID_CURRENCY
          - USER_NOT_FOUND
          - MEMBER_EXCEEDS_GIVEN
      errorCode:
        type: string
        description: Error code.
        enum:
          - INVALID_REQUEST_DATA
    description: ''
  ChangePasswordV1Request:
    type: object
    properties:
      usercode:
        type: string
        example: QSA
        description: Usercode of account to be updated.
      password:
        type: string
        example: 1234qwer@
        description: New Password.
      confirmPassword:
        type: string
        example: 1234qwer@
        description: Confirm New Password.
    description: ''
  ChangePasswordV1Response:
    type: object
    properties:
      status:
        type: string
        example: SUCCESS
        description: Status of the response.
        enum:
          - SUCCESS
    description: ''
  ChangePasswordV1ErrorResponse:
    type: object
    properties:
      status:
        type: string
        example: REJECTED
        description: If the record fails validation, the status must be reported as REJECTED, the errorCode as INVALID_REQUEST_DATA will be in the response. 
        enum:
          - REJECTED
      rejectCode:
        type: string
        description: |
          
          ACCOUNT_NOT_DOWNLINE = Account to be updated is not in your downline,  
          ACCOUNT_NOT_DIRECT = Account to be updated is not a direct downline,  
          ACCOUNT_CLOSED = Account to be updated is CLOSED,  
          PASSWORD_MISMATCH = Password and Confirm Password do not match,  
          PASSWORD_CRITERIA_FAIL = Password fails to meet the required criteria,  
          PASSWORD_SAME_AS_OLD = New Password cannot be the same as the Old Password,  
        enum:
          - ACCOUNT_NOT_DOWNLINE
          - ACCOUNT_NOT_DIRECT
          - ACCOUNT_CLOSED
          - PASSWORD_MISMATCH
          - PASSWORD_CRITERIA_FAIL
          - PASSWORD_SAME_AS_OLD
      errorCode:
        type: string
        description: Error code.
        enum:
          - INVALID_REQUEST_DATA
    description: ''
